# --- Environment / Dependencies ---
.venv/

# --- IDEs / Editors ---
.vscode/
*/.vscode/

# --- Operating System ---
.directory
backup/

# --- Python Cache ---
*.pyc
**/__pycache__/

# --- Scripts ---
actvt.sh
brs.sh

# --- Project / App Specific ---
vsong/.env
vsong/db.sqlite3
