<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}

<html data-bs-theme="dark">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="{% static 'minato/assets/general/favicon.png'%}">

        <script src="{% static 'minato/js/chart.min.js' %}"></script>
     
        {% bootstrap_css %}

        <link rel="stylesheet" href="{% static 'minato/css/custom.css' %}">

    </head>
    
    <body class="m-3 border-5 rounded" data-bs-theme="dark">

        {% include 'minato/main/navbar.html' %}

        <div class="d-flex flex-row bd-highlight m-4">
            <div class="bd-highlight col-12 ">
                    
                {% block content %}
                {% endblock %}
                
            </div>

    
        </div>

    </body>

    


        {% bootstrap_javascript %}

</html>