<!DOCTYPE html>

{% load static %}
{% load django_bootstrap5 %}

<html data-bs-theme="dark">

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'minato/assets/general/favicon.png'%}">
        <script src="{% static 'minato/js/chart.min.js' %}"></script>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'minato/css/custom.css'%}">

    </head>

    <body data-bs-theme="dark" class="lofi-screen">


        {% include 'minato/main/navbar.html' %}

        <div class="d-flex flex-row bd-highlight mt-1 p-0 col-md-10 p-md-3">

                   
                {% block content %}
                {% endblock %}


                <!-- <div class="container d-flex p-2 m-0 border-2 justify-content-center">
                    <div class="text-center">
                        <p class="m-0 p-0 fw-light" id="footerFont">©vgsong | Last updated: 08/28/2026</p>
                        <p class="m-0 p-0 fw-light" id="footerFont">Website Powered by <a href="https://www.djangoproject.com/">Django!</a></p>
                    </div>
                </div> -->



        </div>





    </body>

        {% bootstrap_javascript %}

</html>