{% extends 'minato/main/base.html' %}
{% block content %}

<div class="container border border-light shadow round">
    <p class="fs-5">About me</p>
    <ul>
    <li>Food</li>
    <li>Websites</li>
    <li>Hobbies</li>
    <li>Games</li>
    <li>Movies</li>
    <li>Music</li>
    <li>youtube channels</li>
    <li>books</li>
    </ul>

    <p class="fs-5">Youtube Channels</p>
    <ul>
    <li>Drawn Out</li>
    <li>Mandalore Gaming</li>
    <li>Grim Beard</li>
    </ul>

    <p class="fs-5">Food</p>
    <ul>
    <li>Drawn Out</li>
    <li>Mandalore Gaming</li>
    <li>Grim Beard</li>
    </ul>
 
</div>

<hr> 

{% endblock %}