{% extends 'minato/main/base.html' %}
{% block content %}


        <p class="fs-5">brainstorm favorites</p>
        <ul>
            <li>Food</li>
            <li>Websites</li>
            <li>Hobbies</li>
            <li>Games</li>
            <li>Movies</li>
            <li>Music</li>
            <li>youtube channels</li>
            <li>books</li>
        </ul>




<h2 class="m-3">About Me</h2>
<div class="container-fluid d-flex flex-column align-items-center col-12 gap-3 p-4 ">
    
    <div class="row p-2 col-10 border">
        <p class="fs-5">Youtube Channels</p>
        <ul>
            <li>Drawn Out</li>
            <li>Mandalore Gaming</li>
            <li>Grim Beard</li>
        </ul>
    </div>

    <div class="row p-2 col-10 border">
        <p class="fs-5">Food</p>
        <ul>
            <li>Drawn Out</li>
            <li>Mandalore Gaming</li>
            <li>Grim Beard</li>
        </ul>
    </div>


</div>

<hr> 

{% endblock %}