{% extends 'minato/main/base.html' %}
{% block content %}


    <div class="container pt-3 ms-5">

        <h2><strong>From my Apt Window</strong></h2>
        <span class="m-2"></span>
        {% for entry in recent_posts %}

            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0 m-0">
                    <span class="">{{ entry.created_on|date:"M d, Y" }} </span>
                    <a class="text-truncate" href="{% url 'blog_detail' entry.id %}">{{ entry.title }}</a>
                </li>
            </ul>

        {% endfor%}
        
    </div>
        
            <hr> 
{% endblock %}