{% extends 'minato/main/base.html' %}
{% block content %}


    <div class="container-fluid d-flex flex-row" id="mainCardBlog">

        <div id="blogEntryCard">
            <h2><strong>Notes</strong></h2>

            {% for cat in cat_list %}
            <div class="m-3">
                <h6>{{cat}}</h6>
                <ul id="blogEntryList">
                {% for entry in recent_posts %}
                    {% if entry.category.name == cat %}
                        <li>
                            <span class="">{{ entry.created_on|date:"M d, Y" }} </span>
                            <a class="text-truncate" href="{% url 'blog_detail' entry.id %}">{{ entry.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}  
                </ul>
            </div>
            <hr>
            {% endfor %}

        </div>

        <!-- <div id="blogFilterCard">
            Filter Category:
            <ul id="blogEntryList">
                <li>ph1</li>
                <li>ph2</li>
            </ul>      
        </div> -->

    </div>

{% endblock %}