{% extends 'minato/main/base.html' %}
{% load markdown_extras %}
{% block content %}

    <div class="container">
        <div class="container border-dark border-bottom border-3 p-3 w-80">
            <div>
                <h1 class="m-0 p-0">{{ blog_entry.title }}</h1>
                <p class="m-0 p-0 font-weight-light" style="font-size:10px">created on {{ blog_entry.created_on }}</p>
                <p class="m-0 p-0 font-weight-light" style="font-size:10px">by {{ blog_entry.author }}</p>
                <!-- <hr class="dashed"> -->
            </div>

            <div class="container mt-4">
                <p>{{  blog_entry.body | markdown }}</p>
            </div>

        </div>

        <div class="container p-3 d-flex justify-content-center gap-3">
            
            {% for pic in pic_filenames %}
            
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-image-src="{% static 'minato/assets/blog' %}{{pic}}">
                <img src="{% static 'minato/assets/blog'%}{{pic}}" class="img-fluid clickable-img short-rounded-img" alt="Blog Image Thumbnail" style="max-height: 250px; height: auto;">
            </a>
            {% endfor %}

        </div>



        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <h5 class="modal-title" id="imageModalLabel"></h5>
                    
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                    </div>
                
                    <div class="modal-body text-center">

                        <img id="modalImage" src="" class="img-fluid" alt="Expanded Image">

                    </div>

                </div>
            </div>
        </div>

</div>
<div class="container pl-3 pt-3">
    <a href="{% url 'blog' %}"><p>‹--Back</p></a>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    const imageModal = document.getElementById('imageModal');
    
    imageModal.addEventListener('show.bs.modal', function (event) {
        // Find the specific <a> link that was clicked
        const triggerLink = event.relatedTarget;
        
        // Grab its custom data-image-src value
        const targetImageSrc = triggerLink.getAttribute('data-image-src');
        
        // Push that value into the empty modal image placeholder
        const modalImage = document.getElementById('modalImage');
        modalImage.src = targetImageSrc;
    });
});
</script>

{% endblock %}
