{% extends 'minato/main/base.html' %}
{% block content %}


    <div class="container-fluid d-flex flex-row m-3 p-2 justify-content-md-center">

        <!-- <div class="row col-4">
        <h5>Filter By</h5>
        CAT
        <ul>
            <li>Daily</li>
            <li>Linux</li>
        </ul>

        YEAR
        <ul>
            <li>2026</li>
            <li>2025</li>
        </ul>


        </div> -->

        <div class="row col-8">
        <h2><strong>From my Apt Window</strong></h2>

        {% for entry in recent_posts %}

            <ul class="list-group list-group-flush">
                <li class="list-group-item p-0 m-0">
                    <span class="">{{ entry.created_on|date:"M d, Y" }} </span>
                    <a class="text-truncate" href="{% url 'blog_detail' entry.id %}">{{ entry.title }}</a>
                </li>
            </ul>

        {% endfor%}
        </div>

    </div>


    
            <hr> 
{% endblock %}