{% extends 'minato/main/base.html' %}
{% load markdown_extras %}
{% block content %}

    <div class="container" id="mainCardBlog">
        <div class="container">
            <div>
                <h1 class="m-0 p-0" style="color:#FFB7C5">{{ blog_entry.title }}</h1>
                <p class="m-0 p-0 font-weight-light" style="font-size:10px">created on {{ blog_entry.created_on }}</p>
                <p class="m-0 p-0 font-weight-light" style="font-size:10px">by {{ blog_entry.author }}</p>
                <!-- <hr class="dashed"> -->
            </div>

            <div class="container mt-4">
                <p>{{  blog_entry.body | markdown | safe }}</p>
            </div>

        </div>

        <div class="container p-3 d-flex ms-5 justify-content-center gap-3">
            
            {% for pic in pic_filenames %}
            
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-image-src="{% static 'minato/assets/blog' %}{{pic}}">
                <img src="{% static 'minato/assets/blog'%}{{pic}}" class="img-fluid clickable-img short-rounded-img" alt="Blog Image Thumbnail" style="max-height: 250px; height: auto;">
            </a>

            {% endfor %}

        </div>


        <div class="container pl-3 pt-3">
            <a href="{% url 'blog' %}"><p>‹--Back</p></a>
        </div>

    </div>

    




{% endblock %}
