
{% extends 'minato/main/base.html' %}  
{% load plotly_dash %}
{% block content %}

<div class="container p-3 mt-0 ms-0 d-flex flex-column">
  <!-- Profile Introduction Banner -->
  <div class="p-4 mb-3 bg-body-tertiary border rounded-3 shadow-lg m-2">
    <div class="container-fluid py-2 mb-0 ">
      
      <div class="row align-items-center g-4">
        <!-- Profile Picture Column -->
        <div class="col-12 col-md-auto text-center text-md-start ">
          <img src="{% static 'minato/assets/main-portrait.png'%}" 
              alt="Profile" 
              class="rounded-circle border border-3 border-white shadow" 
              style="width: 130px; height: 140px; object-fit: cover;">
        </div>
        <!-- Introduction Text Column -->
        <div class="col-12 col-md text-center text-md-start">
          <h3>マイハブ </h3>
          <p class="fs-6 text-muted mb-2">Data/ERP System Analyst</p>
          <p class="col-md-10 fs-6 text-secondary mb-1">
          <p>I am Victor Song -- Welcome to my webgarden</p>
          <p>Reading and programming are my hobbies. I love working with excel templates and automating repetitive processes. Excel, VBA, and Python put the daily bread on my table.</p>
          <p>My front-end skills are lacking. LLM was used to generate snippets, not entire pages. For Django back-end, LLM was used as reference and learning purposes.</p>
        </div>
        <!-- Social Links Container -->
        <div class="d-flex justify-content-end justify-content-md-center gap-2">
          <!-- GitHub Link -->
          <a href="https://github.com/vgsong" class="btn btn-outline-primary border-2 rounded-pill d-inline-flex align-items-center justify-content-center p-2" style="width: 40px; height: 40px;" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'minato/assets/general/github_icon.png' %}" alt="GitHub" style="width: 20px; height: 20px; object-fit: contain;">
          </a>
          <!-- LinkedIn Link -->
          <a href="https://www.linkedin.com/in/victor-s-b59b5b232/" class="btn btn-outline-primary border-2 rounded-pill d-inline-flex align-items-center justify-content-center p-2" style="width: 40px; height: 40px;" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'minato/assets/general/linkedin_icon.png' %}" alt="LinkedIn" style="width: 20px; height: 20px; object-fit: contain;">
          </a>

          <!-- Emailme Link -->
          <a href="" class="btn btn-outline-primary border-2 rounded-pill d-inline-flex align-items-center justify-content-center p-2" style="width: 40px; height: 40px;" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'minato/assets/general/email_icon.png' %}" alt="about" style="width: 20px; height: 20px; object-fit: contain;">
          </a>
        </div>
      </div>


      <div class="container w-50 mt-5">
        <hr>
      </div>

        <div class="slider-box">
          <p class="fs-6 text-center">Rec最近tly:</p>
          <div class="slide-text">
            <p>

              -- Reading: A Confederacy of Dunces  |  
              Watching: The Wire (S03)  |   
              Playing: Underrail  |  
              Eating: Thai Food  |  
              Listening: Tchaikovsky |
              Feeling: blue --
              
            </p>
          </div>

        </div>

    </div>
  </div>



  <div class="container-fluid m-1">
    
  <div class="container-fluid py-2 mb-0 ">
    <p><strong style="color: #ffb000;">More About me</strong></p>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">

        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">To do</button>
        <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-notebook" type="button" role="tab" aria-controls="nav-home" aria-selected="false">Notebook</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Career</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
        
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

        <div class="d-flex flex-column flex-md-column m-1 p-2 mb-0">
  

          

          <div class="m-1 p-3 ">

            <div class="list-header p-1 m-0">

              <h4>To do/WIP learning/projects</h4>
            </div>

            <ul>
              <li>Plotly -- WIP</li>
              <li>Blog website -- done/WIP</li>
              <li>Book Tracker -- WIP</li>
              <li>create a github rep -- done 6/18</li>
              <li>sync a github rep with pythonanywhere -- done 6/18</li>
              <li>deploy django project -- done 6/28</li>
              <li>About me session -- WIP</li>
              <li>Blog Entry Filter -- WIP</li>
            </ul>
          </div>

        </div>

      </div>


      <div class="tab-pane fade show" id="nav-notebook" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="container m-2">

          <div class="pt-3 pt-0 ">
            <p>Recent posts</p>
          {% for entry in recent_posts %}
            <ul class="list-group list-group-flush bg-transparent">
                <li class="list-group-item p-0 m-0 bg-transparent">
                    <span class="">{{ entry.created_on|date:"M d, Y" }} </span>
                    <a class="text-truncate" href="{% url 'blog_detail' entry.id %}">{{ entry.title }}</a>
                </li>
            </ul>
          {% endfor%}
          </div>
        </div>

      </div>

      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="table-responsive">
          <table class="table table-hover align-middle p-2">
            <tbody>
              <tr>
                <th scope="row" class="text-nowrap ps-4 m-0" style="width: 20%;">
                  2021 – Present
                </th>
                <td>
                  <div class="mb-2">
                    <strong class="d-inline-block me-2">Cordoba Corporation</strong>
                    <small class="text-muted">Santa Ana, CA</small>
                  </div>
                  <p class="mb-0 text-secondary">Currently the Deltek SaaS Admin for the finance department. Modernized legacy SOPs by building custom VBA/Python automation scripts that streamlined multi-departmental reporting and bots that processed over 3,600 invoices.</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-nowrap ps-4 m-0">2020 – 2021</th>
                <td>
                  <div class="mb-2">
                    <strong class="d-inline-block me-2">Robert Half - Jacmar Food Distr. / VHA Corp. </strong>
                    <small class="text-muted">City of Industry, CA</small>
                  </div>
                  <p class="mb-0 text-secondary ">Worked as Salaried Professional on temporary assignments. Assisted executive leadership with annual budget forecasting and directed the accounting team's new ERP system implementation. Started learning Python.</p>
                </td>
              </tr>

              <tr>
                <th scope="row" class="text-nowrap ps-4 m-0">2019</th>
                <td>
                  <div class="mb-2">
                    <strong class="d-inline-block me-2">Cetera Financial Group</strong>
                    <small class="text-muted">El Segundo, CA</small>
                  </div>
                  <p class="mb-0 text-secondary">Left the comfortable corporate nest and tried to fly solo as a Senior Accountant. Responsible with month-end reporting and closing.</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-nowrap ps-4 m-0">2016 – 2019</th>
                <td>
                  <div class="mb-2">
                    <strong class="d-inline-block me-2">City National Bank</strong>
                    <small class="text-muted">Los Angeles, CA</small>
                  </div>
                  <p class="mb-0 text-secondary">Truly a place where I learned the most about corporate job as a financial reporting accountant. Self-taught MS Excel and VBA due to innumerous reporting/tasks.</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-nowrap ps-4 m-0">2016</th>
                <td>
                  <div class="mb-2">
                    <strong class="d-inline-block me-2">Sourcing Solutions, LLC</strong>
                    <small class="text-muted">Irvine, CA</small>
                  </div>
                  <p class="mb-0 text-secondary">Worked as a temp and did temp A/R accounting work. I learned a lot about standard processes. Small start-up company, about 30 people. First time streamlining an email SOP process using concat excel formula</p>
                </td>
              </tr>
              <tr>
                <th scope="row" class="text-nowrap ps-4 m-0">2014 – 2016</th>
                <td>
                  <div class="mb-2">
                    <strong class="d-inline-block me-2">Moss Adams, LLP</strong>
                    <small class="text-muted">Irvine, CA</small>
                  </div>
                  <p class="mb-0 text-secondary">First real, office job. Public accounting right after graduating. Participated in end-to-end GAAP financial statement audits across diverse sectors like healthcare, technology, and construction. Eye-opening getting to see a professional excel workpaper for the first time.</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="container text-center p-3">
            <a href="{% static 'minato/assets/general/VS MAIN_26.pdf'%}" target="_blank"><strong>Full Resume</strong></a>
          </div>
        </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
        ...

      </div>
    </div>
    </div>
  </div>
  </div>
</div>



<script>
document.querySelectorAll('.nav-link').forEach(tab => {
  tab.addEventListener('click', function (e) {
    if (this.getAttribute('href') === '#') {
      e.preventDefault();
    }
  });
});
</script>


{% endblock %}