{% extends 'minato/main/base.html' %}
{% load markdown_extras %}
{% block content %}


  <div class="container ms-5 pt-3 w-50 d-flex flex-row gap-2">
    <img src="{% static 'minato/assets/general/unconstr_01.webp' %}">
    <p> </p>
    <img src="{% static 'minato/assets/general/unconstr_01.webp' %}">
  </div>

<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>

{% endblock %}
