{% extends 'minato/main/base.html' %}
{% load markdown_extras %}
{% block content %}

<div class="container" >
  <div class="container">
    <img src="{% static 'minato/assets/general/unconstr_02.webp'%}" alt="" class="src">
  </div>

  
<div class="d-flex justify-content-start row col-12 gap-1">
  {% for book in books_all %}
<div class="card mb-3" style="max-width: 300px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'minato/assets/reading' ~ %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" id="hoverLearn">{{ book.title }}</h5>
      </div>
    </div>
  </div>
</div>

{% endfor %}
</div>
</div>

{% endblock %}
